<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact us page</title>
        <link rel="stylesheet" href="/static/stylesheets/supportStyle.css">
    </head>
    <body>
        <div class="class">
            <div class="navbar">
                <nav>
                  <ul id="MenuItems">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/profile/{{ .User.Username}}">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    <li><a href="/contact">Contact</a></li> -->
                  </ul>
                </nav>
              </div>
              <div class="content">
                <h2>Contact Us</h2>
                <p>If you have any problems with using a website you can contact with us through the methods below</p>
            </div>
        <section class="contact">
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><ion-icon name="home-outline"></ion-icon></div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>Expo</p>
                            </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>asdasd@mail.ru</p>
                            </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="phone-portrait-outline"></ion-icon></div>
                            <div class="text">
                                <h3>Phone</h3>
                                <p>+77777777777</p>
                            </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea></textarea>
                            <span>Type your Message...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
